---
layout: default
---

<div id="main_columns" class="columns">

    {%for post in paginator.posts %}

    <article class="post type-post status-publish format-image has-post-thumbnail sticky hentry category-demo-2 tag-featured post_format-post-format-image">
        <div class="post-title box">
            <h1 class="entry-title">
                <a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a>
            </h1>
            <div class="post-meta">
                <ul>
                    <li>
                        <time class="entry-date updated" datetime="{{post.date|date:'%m-%d-%Y' }}">{{post.date | date_to_string }}</time>
                    </li>
                    <li class="divider">/</li>
                    <li>
                        <a title= {{post.category}} href="">{%for category in post.categories%} {{category}} {%endfor%}</a>
                    </li>
                    <li class="divider">/</li>
                    <li>
                        <a href="{{post.url}}#disqus_thread"></a>
                    </li>
                </ul>
            </div>
            <div class="post-format-badge post-format-image">
                <i class="icon-pin"></i>
            </div>
        </div>
        {% if post.featured %}
        <div class="entry-image" style="max-height:none;">
            <a rel="bookmark" title="{{post.title}}"href="{{post.url}}">
                <img class="attachment-large wp-post-image" width="500" height="400"  alt="{{post.title}}" src="{{site.url}}{{post.featured}}">
            </a>
        </div>
        {%endif%}
        <div class="entry-container">
            <div class="entry-content">
                    {{post.content | truncatewords: 100}}
                <br>
                <a class="moretag" href="{{post.url}}">Continue reading...</a>
                <footer class="entry-meta clearfix">
                    <ul>
                        <li>
                            {% for tag in post.tags %}
                            <a rel="tag" href="{{post.url}}">{{tag}}</a>
                            {% endfor %}
                        </li>
                    </ul>
                    <div class="share-story-container">    
                        <h4 class="muted pull-left">Share story</h4>
                        <ul class="share-story">
                            <li>
                                <a class="tips" data-title="Facebook" href="{{site.social.facebook_url}}">
                                    <i class="icon-facebook-1"></i>
                                    </a>
                            </li>
                             <li>
                                <a class="tips" data-title="GooglePlus" href="{{site.social.gplus_url}}">
                                    <i class="icon-gplus-1"></i>
                                    </a>
                            </li>
                            <li>
                                <a class="tips" data-title="Twitter" href="{{site.social.twitter_url}}">
                                    <i class="icon-twitter-1"></i>
                                    </a>
                            </li>
                            <li>
                                <a class="tips" data-title="Pinterest" href="{{site.social.pinterest_url}}">
                                    <i class="icon-pinterest-1"></i>
                                    </a>
                            </li>
                            <li>
                                <a class="tips" data-title="Linkedin" href="{{site.social.linkedin_url}}">
                                    <i class="icon-linkedin-1"></i>
                                    </a>
                            </li>
                            <li>
                                <a class="tips" title="">
                                    <i class="icon-mail-1"></i>
                                    </a>
                            </li>    
                        </ul>   
                    </div>
                </footer>
            </div>
        </div>    
    </article>
    {%endfor%}
 </div>
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page_path}}">
            <i class="icon-left-open-1"></i>
            Previous Page
        </a>
    {%endif%}
    {% if paginator.previous_page %}
        <a class="box" href="{{site.url}}"> << </a>
    {%endif%}
    {% if paginator.previous_page %}
    <a class="inactive box" href="{{paginator.previous_page_path}}">{{paginator.previous_page}}</a>
    {% endif %}
    
    <span class="current box">{{paginator.page}}</span>
     
    {% if paginator.next_page %}
        <a class="inactive box" href="{{paginator.next_page_path}}">{{paginator.next_page}}</a>
    {% endif %}
    
    {% if paginator.page != paginator.total_pages %}
        <a class="box" href="/page{{paginator.total_pages}}">>></a>
    {% endif %}

    {%if paginator.next_page %}
    <a href="{{paginator.next_page_path}}">
        Next Page
        <i class="icon-right-open-1"></i>
    </a>
    {% endif %}
</div>

