<footer id="colophon" class="site-footer" "position:relative; bottom:-200px;" role="contentinfo">
    <div class="container">
        <div id="footer-body" class="row-fluid">
            <div id="bl_newsletter-1" class="span8 bl_newsletter">
                <h3 class="widget-head">Sign up to our Newsletter!</h3>
                <div class="widget-body">    
                    <p>Enter your email adress below to subscribe to our newsletter.</p>
                    <div class="input-append">
                        <input class="bl_newsletter_email" type="text" placeholder="Email adress">
                        <button class="btn btn-success bluth green" type="button" data-list="ceda0165aa">Subscribe!</button>
                    </div>
                </div>
                <script type="text/javascript">
window.locale = {
            "no_email_provided": 'No email provided!', 
            "thank_you_for_subscribing": 'Thank you for subscribing!', 
        };
                </script>


            </div>
            <!-- ADD MORE WIDGETS HERE AND MODiFY SPAN TO 4 6 or 8 DEPENDING ON # OF WIDGETS-->
        </div>
    </div>
    <div id="footer-bottom" class="row-fluid">Copyright &copy; 2013-{{site.time|date:'%Y'}} · Liquid Think | Weekly Rantings of a Geeky Lunatic · http://www.liquidthink.net </div>
</footer>


