<!-- uneeded CSS from header -->
<link id="bluth-fontello-css" media="all" type="text/css" href="{{site.url}}assets/css/fontello.css" rel="stylesheet">
<link id="bluth-magnific-css" media="all" type="text/css" href="{{site.cdnurl}}assets/css/magnific-popup.css" rel="stylesheet">
<link id="bluth-snippet-css" media="all" type="text/css" href="{{site.cdnurl}}assets/css/jquery.snippet.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
        <div id="footer-body" class="row-fluid">
            <!--<div id="bl_newsletter-1" class="span8 bl_newsletter">
                <h3 class="widget-head">Sign up to our Newsletter!</h3>
                <div class="widget-body">
                    <p>Enter your email adress below to subscribe to our newsletter.</p>
                    <div class="input-append">
                        <input class="bl_newsletter_email" type="text" placeholder="Email adress">
                        <button class="btn btn-success bluth green" type="button" data-list="ceda0165aa">Subscribe!</button>
                    </div>
                </div>
                <script type="text/javascript">
window.locale = {
            "no_email_provided": 'No email provided!',
            "thank_you_for_subscribing": 'Thank you for subscribing!',
        };
                </script>

                -->
                <!--
            </div>
            <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#002B36; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//liquidthink.us10.list-manage.com/subscribe/post?u=f1a0e46a4769f1cbba967ae1d&amp;id=ceda0165aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f1a0e46a4769f1cbba967ae1d_ceda0165aa" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

            -->
            <!-- ADD MORE WIDGETS HERE AND MODiFY SPAN TO 4 6 or 8 DEPENDING ON # OF WIDGETS-->
        </div>
    </div>
    <div id="footer-bottom" class="row-fluid">Copyright &copy; 2013-{{site.time|date:'%Y'}} · Liquid Think | Weekly Rantings of a Geeky Lunatic · http://www.liquidthink.net </div>
</footer>
