<aside id="side-bar" class="span4 widget-area">
    <!-- put any widgets you may want here -->
    <div id="bl_author-2" class="box bl_author">
        <h3 class="widget-head">{{site.owner_name}}</h3>
        <img src="{{site.cdnurl}}/uploads/branding/GeometricMountains.gif">
        <div class="widget-body">
            <div class="bl_author_img">
                <img src="{{site.cdnurl}}/uploads/branding/ProfilePic2.png">
            </div>
            <div class="bl_author_bio">
                <h3>{{site.owner_name}}</h3>
                <p class="muted">
                    {{site.author_bio}}
                </p>
            </div>
        </div>
    </div>
</aside>
