---
layout: default
---

<div id="main_columns" class="columns">

    {%for post in page.posts limit:4 %}

    <article class="post type-post status-publish format-image has-post-thumbnail sticky hentry category-demo-2 tag-featured post_format-post-format-image">
        <div class="post-title box">
            <h1 class="entry-title">
                <a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a>
            </h1>
            <div class="post-meta">
                <ul>
                    <li>
                        <time class="entry-date updated" datetime="{{post.date|date:'%m-%d-%Y' }}">{{post.date | date_to_string }}</time>
                    </li>
                    <li class="divider">/</li>
                    <li>
                        <a title= {{post.category}} href="{{post.url}}">{%for category in post.categories%} {{category}} {%endfor%}</a>
                    </li>
                    <li class="divider">/</li>
                    <li>
                        <a href="{{post.url}}#disqus_thread"></a>
                    </li>
                    <li class="divider">/</li>
                    <li>   
                        <a title="Read Time" href="{{post.url}}">{% include read_time.html %} Read </a>
                    </li>
                </ul>
            </div>
            <div class="post-format-badge post-format-image">
                <i class="icon-pin"></i>
            </div>
        </div>
        {% if post.featured %}
        <div class="entry-image" style="max-height:none;">
            <a rel="bookmark" title="{{post.title}}"href="{{post.url}}">
                <img class="attachment-large wp-post-image" width="500" height="400"  alt="{{post.title}}" src="{{site.url}}{{post.featured}}">
            </a>
        </div>
        {%endif%}
        <div class="entry-container">
            <div class="entry-content">
                    {{post.content | truncatewords: 80 }}
                <br /> 
                <a class="moretag" href="{{post.url}}">Continue reading...</a>
                <footer class="entry-meta clearfix">
                    <ul>
                        <li>
                            {% for tag in post.tags %}
                            <a rel="tag" href="{{post.url}}">{{tag}}</a>
                            {% endfor %}
                        </li>
                    </ul>
                    <div class="share-story-container">    
                        <h4 class="muted pull-left">Share story</h4>
                        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='21576388'></div> 
                    </div>
                </footer>
            </div>
        </div>    
    </article>

    {%endfor%}

</div>

