---
layout: post_layout
comments: true
---
<article class="post type-post format-standard hentry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-title box">
        <h1 class="entry-title">
            <a href="{{post.url}}">{{page.title}}</a>
        </h1>
        <div class="post-meta">
            <ul>
                <li>
                    <time class="entry-date updated" datetime="{{page.date|date:'%m-%d-%Y'}}"> {{page.date | date_to_string }}</time>
                </li>
                <li class="divider">/</li>
                <li>
                    <a title="The Post's Categories" >{%for cat in page.categories %} {{cat}} {% endfor %}</a>
                </li>
                <li class="divider">/</li>
                <li>
                    <a href="{{post.url}}#disqus_thread"></a>
                </li>
                <li class="divider">/</li>
                <li>
                    <a title="Read Time">{%include read_time_post.html%}</a>
                </li>
            </ul>
        </div>
    </div>
    {% if post.featured_image %}
        <div class="entry-image" style="max-height:none;">
            <a class="lightbox" rel="bookmark" title="{{page.title}}" href="{{site.url}}{{page.featured_image}}">
                <img class="attachment-large wp-post-image" width="500" height="360" data-src="{{site.url}}{{post.featured_image}}" alt="{{post.imgalt}}" src="{{site.url}}{{post.featured_image}}">
            </a>
        </div>
    {% endif %}
    <div class="entry-container {%if page.featured_image}{%else%}noimg{%endif%}">
        <div class="entry-content">
            {{content}}
            <p style="text-align:left">
            &copy; {{page.date|date:'%Y'}}, {% if page.author%}<a href="{{site.url}}">{{page.author}}</a>, {%endif%}All Rights Reserved.
            </p>
            <footer clas="entry-meta cleafix">
                {% if page.tags %}
                <ul>
                        <li>
                            {% for tag in page.tags %}
                            <a rel="tag">{{tag}}</a>,
                            {% endfor %}
                        </li>
                </ul>
                {%endif%}
                <div class="share-story-container">
                    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='21576375'></div>
                </div>
            </footer>
        </div>
    </div>
</article>

