---
layout: post_layout
---
<article class="post type-post format-standard hentry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-title box">
        <h1 class="entry-title">
            <a href="{{post.url}}">{{page.title}}</a>
        </h1>
        <div class="post-meta">
            <ul>
                <li>
                    <time class="entry-date updated" datetime="{{page.date|date:'%m-%d-%Y'}}"> {{page.date | date_to_string }}</time>
                </li>
                <li class="divider">/</li>
                <li>
                    <a title="The Post's Categories" >{%for cat in page.categories %} {{cat}} {% endfor %}</a>
                </li>
                <li class="divider">/</li>
                <li>
                    <a href="{{page.url}}#disqus_thread"></a>
                </li>
                <li class="divider">/</li>
                <li>
                    <a title="Read Time" href="{{page.url}}">{% include read_time_post.html %}</a>
                </li>
            </ul>
        </div>
    </div>
    {% if post.featured_image %}
        <div class="entry-image" style="max-height:none;">
            <a class="lightbox" rel="bookmark" title="{{post.title}}" href="{{site.url}}{{post.featured_image}}">
                <img class="attachment-large wp-post-image" width="500" height="360" data-src="{{site.url}}{{post.featured_image}}" alt="{{post.imgalt}}" src="{{site.url}}{{post.featured_image}}">
            </a>
        </div>
    {% endif %}
    <div class="entry-container {%if post.featured_image}{%else%}noimg{%endif%}">
        <div class="entry-content">
            {{content}}
            <p style="text-align:left">
            &copy; {{page.date|date:'%Y'}},
            <a href="{{site.url}}">{{page.author}}</a>
            All Rights Reserved.
            </p>
            <footer class="entry-meta cleafix">
                <ul>
                        <li>
                            {% for tag in post.tags %}
                            <a rel="tag">{{tag}}</a>,
                            {% endfor %}
                        </li>
                </ul>
                    <div class="share-story-container">    
                        <h4 class="muted pull-left">Share story</h4>
                        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='21576388'></div> 
                    </div>
            </footer>
        </div>   
    </div>
</article>

