---
layout: post_layout
---
<article class="post type-post format-standard hentry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-title box">
        <h1 class="entry-title">
            <a href="{{post.url}}">{{page.title}}</a>
        </h1>
        <div class="post-meta">
            <ul>
                <li>
                    <time class="entry-date updated" datetime="{{page.date|date:'%m-%d-%Y'}}"> {{page.date | date_to_string }}</time>
                </li>
                <li class="divider">/</li>
                <li>
                    <a title="View all posts in {{page.category}}"href="{{post.category_link}}">{{post.category}}</a>
                </li>
                <li class="divider">/</li>
                <li>
                    <a href="{{post.url}}#disqus_thread"></a>
                </li>
            </ul>
        </div>
    </div>
    {% if post.featured_image %}
        <div class="entry-image" style="max-height:none;">
            <a class="lightbox" rel="bookmark" title="{{post.title}}" href="{{site.url}}{{post.featured_image}}">
                <img class="attachment-large wp-post-image" width="500" height="360" data-src="{{site.url}}{{post.featured_image}}" alt="{{post.imgalt}}" src="{{site.url}}{{post.featured_image}}">
            </a>
        </div>
    {% endif %}
    <div class="entry-container {%if post.featured_image}{%else%}noimg{%endif%}">
        <div class="entry-content">
            {{content}}
            <p style="text-align:left">
            &copy; {{page.date|date:'%Y'}},
            <a href="{{site.url}}">{{post.author}}</a>
            All Rights Reserved.
            </p>
            <footer clas="entry-meta cleafix">
                <ul>
                        <li>
                            {% for tag in post.tags %}
                            
                            <a rel="tag">{{tag}}</a>,
                            
                            {% endfor %}
                        </li>
                </ul>
                <div class="share-story-container">
                    <h4 class="muted pull-left">Share Story</h4>
                    <ul class="share-story">
                        <li>
                            <a class="tips" data-title="Facebook" href="{{site.social.facebook_url}}">
                                <i class="icon-facebook-1"></i>
                                </a>
                        </li>
                         <li>
                            <a class="tips" data-title="GooglePlus" href="{{site.social.gplus_url}}">
                                <i class="icon-gplus-1"></i>
                                </a>
                        </li>
                        <li>
                            <a class="tips" data-title="Twitter" href="{{site.social.twitter_url}}">
                                <i class="icon-twitter-1"></i>
                                </a>
                        </li>
                        <li>
                            <a class="tips" data-title="Pinterest" href="{{site.social.pinterest_url}}">
                                <i class="icon-pinterest-1"></i>
                                </a>
                        </li>
                        <li>
                            <a class="tips" data-title="Linkedin" href="{{site.social.linkedin_url}}">
                                <i class="icon-linkedin-1"></i>
                                </a>
                        </li>
                        <li>
                            <a class="tips" title="">
                                <i class="icon-mail-1"></i>
                                </a>
                        </li> 
                    </ul>
                </div>
            </footer>
        </div>
    </div>
    <span class="vcard" style="display:none;">
        <span class="fn">
            <a class="author">{{post.author}}</a>
        </span>
    </span>
</article>

